@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

:root {
  --logo-color: white;
  --main-green: #136b2e;
  --dark-green: ##044707;
}

/* KEYFRAMES */

@keyframes onLoadOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

p,
h3, h1 {
  font-family: "Big Shoulders Display", cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  scroll-behavior: smooth;
  /* height: 100%; */
  overflow-x: hidden;
  /* padding-top: 90px; */
  background-color: #ffffff;
}

body {
  z-index: -99999999;
  /*   height: 100vh; */
  display: flex;
  flex-direction: column;
  transform-style: preserve-3d;
  perspective: 1px;
}

/* NAVBAR */

.header-container {
  /*   background-color: #136b2e; */
  z-index: 1;
  width: 100%;
  top: 0;
  position: fixed;
  /* background-color: rgb(255, 255, 255); */
  transition: opacity ease-out 0.5s;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  animation: 1s ease-in 0s 1 onLoadOpacity;
}

.logo {
  width: 200px;
  height: 50px;
  cursor: pointer;
  margin-right: auto;
  margin-left: 20px;
  animation: 1s ease-in 0s 1 onLoadOpacity;
  animation-duration: 800ms;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 10px;
  color: var(--logo-color);
  font-family: "Staatliches", cursive;
}

.nav-links li a {
  text-decoration: none;
  color: var(--logo-color);
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: rgba(190, 49, 24, 247);
}

.nav-links li.vertical-rule {
  border-left: 1px solid;
  height: 30px;
  position: relative;
  top: 10px;
  padding: 0;
}

.logo-container {
  padding-left: 30px;
}

.logo-container img {
  padding-left: 20px;
  /* height: 50px; */
}

/* BANNER */

.banner-container {
  z-index: -1;
  position: no-repeat fixed center;
  border-bottom: 80px solid #ffffff;
}

.banner {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: black;
}

.banner video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
  opacity: 70%;
}

.banner h1 {
  display: block;
  position: absolute;
  left: 75vw;
  top: 30vh;
  font-family: "Big Shoulders Display", cursive;
  color: #ffffff;
  font-weight: lighter;
}

/* MAIN CONTENT */

.main-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
  border-left: 30px solid #ffffff;
  border-right: 50px solid #ffffff;
  border-top: 80px solid #ffffff;
  box-sizing: border-box;
}

.parallax-container {
  height: 40vh;
}

.intro-container {
  background: linear-gradient(rgba(0, 0, 0, 1));
}

.intro-container::before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  /* background-color: #000000; */
  opacity: 100%;
  z-index: 1;
  background-image: url("images/IMG_7931.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.intro-container > h1 {
  position: absolute;
  top: 10%;
  left: 15%;
  font-family: "Big Shoulders Display", cursive;
}

.intro-container > * {
  z-index: 100;
}

.intro-first {
  height: 40vh;
  position: absolute;
  right: 0;
  top: 5%;
  background-color: #ffffff;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
}

.intro-first,
.intro-second h3 {
  align-self: start;
  font-family: "Big Shoulders Display", cursive;
  color: black;
  display: block;
}

.intro-first > p,
.intro-second > p {
  /* padding-left: 40px; */
  font-family: "Big Shoulders Display", cursive;
  color: black;
  width: 30vw;
}

.intro-second {
  height: 40vh;
  position: absolute;
  left: 0;
  bottom: 5%;
  background-color: #ffffff;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
}


.gallery-container-outer {
  position: absolute;
  right: 0%;
  bottom: 3%;
}

.gallery-container-inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail-image-inner {
  width: auto;
  height: 30vh;
  opacity: 1;
  transition: 0.7s ease;
  border-radius: 15px 0px 0px 15px;
}

.middle-inner {
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1) 0%,
    rgba(233, 233, 233, 0) 100%
  );
  position: absolute;
  opacity: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 0.7s ease;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 1;
}

.text-inner {
  color: black;
  opacity: 1;
  position: absolute;
  bottom: 0;
  right: 3%;
  font-family: "Big Shoulders Display", cursive;
}

.fancybox-gallery {
  position: absolute;
  top: 0;
  margin: 0;
}


.fancybox-inner {
  bottom: 23% !important;
}

.fancybox-thumbs {
  top: 30% !important;
  bottom: 0;
  background: none;
}

.goals-container::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 100%;
  z-index: 1;
  background-image: url("images/DSC_0915.JPG");
  background-position: center top 0%;
  background-size: cover;
  transition: opacity 1s;
}

.goals-container {
  flex-wrap: wrap;
  flex-direction: row;
}

.goals-container > * {
  z-index: 100;
}

.goals {
  display: flex;
  padding: 5px;
  position: absolute;
}

.goals-container > h1 {
  font-family: "Big Shoulders Display", cursive;
  color: #000000;
  position: absolute;
  top: 10%;
  left: 15%;
}

.goal > * {
  font-family: "Big Shoulders Display", cursive;
  text-align: center;
}

.goal {
  padding: 15px;
  width: 20vw;
  margin: 50px;
  height: 50vh;
  background-color: #ffffff;
}

.first-goal {
  bottom: 25%;
  left: 100%;
  position: absolute;
  width: 20vw;
}

.second-goal {
  position: absolute;
  right: 100%;
  top: 30%;
  width: 20vw;
}

.coop-container::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 100%;
  z-index: 1;
  background-image: url("images/DSC_0915.JPG");
  background-position: center top;
  background-size: cover;
  transition: opacity 1s;
}

.coop-container > * {
  z-index: 100;
}

.coop-container > h1 {
  position: absolute;
  top: 3%;
  left: 50%;
}

.coop-history {
  background-color: #ffffff;
  height: 40vh;
  position: absolute;
  left: 0%;
  top: 5%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
}

.coop-possibilities {
  background-color: #ffffff;
  height: 40vh;
  position: absolute;
  right: 0%;
  top: 15%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
}

.coop-logos {
  background-color: #ffffff;
  width: 30vw;
  height: 10vh;
  position: absolute;
  right: 0%;
  bottom: 5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.coop-logos img {
  padding-left: 20px;
}

.rimi-logo {
  height: 20vh;
}

.kaubamaja-logo {
  height: 10vh;
}

.showcase-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.showcase {
  position: relative;
  width: 30vw;
  height: 80%;
}
.showcase img {
  width: 100%;
  height: 100%;
}
.showcase-second {
  margin: 0px 20px;
  box-sizing: border-box;
}
.caption {
  position: absolute;
  width: 15vw;
  height: 5vh;
  background-color: #ffffff;
  bottom: 0;
  left: 0;
  font-family: "Big Shoulders Display", cursive;
  padding: 5px;
  text-align: right;
}

.video-container::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 100%;
  z-index: 1;
  background-color: #ffffff;
  background-position: center top;
  background-size: cover;
  transition: opacity 1s;
}

.video-container > * {
  z-index: 100;
}

.video-container {
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 80px solid #ffffff;
}

.video {
  width: 70vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding-top: 30%;
  padding-left: 0;
}

.video > iframe {
  border: 2px solid #000000;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* border: 2px solid #ffffff; */
}



/* CONTACT */

/* .contact-container {
  border-top: 80px solid #ffffff;
  color: black;
  height: 60vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px;
  border-bottom: 80px solid #ffffff;
} */

.contact-container::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 100%;
  z-index: 1;
  background-image: url("images/IMG_7020.JPG");
  background-position: center;
  background-size: cover;
  transition: opacity 1s;
}

.contact-container > * {
  z-index: 100;
}

.contact-container > h1 {
  position: absolute;
  top: 5%;
  font-family: "Big Shoulders Display", cursive;
  color: #ffffff;
}

.info-container {
  background-color: #ffffff;
  position: absolute;
  right: 0;
  padding: 30px;
}

.map {
  border: 1px solid #000000;
  height: 400px;
  width: 500px;
  border: 1px solid;
  background-color: #eee;
}

#map {
  border: 3px solid #000000;
  height: 40vh;
  width: 35vw;
}

/* FOOTER */

.footer-container {
  border-top: 80px solid #ffffff;
  background-color: #136b2e;
  width: 100%;
  top: 0;
  /*   position: relative;
 */ /* background-color: rgb(255, 255, 255); */
  transition: background-color ease-out 0.5s;
  margin-top: auto;
  flex-shrink: 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.year {
  position: absolute;
  left: 50%;
  opacity: 1;
  text-align: right;
  font-family: "Big Shoulders Display", cursive;
  color: white;
}

.logo-footer {
  width: 200px;
  height: 50px;
  cursor: pointer;
  margin-right: auto;
  margin-left: 20px;
  opacity: 1;
  animation-duration: 800ms;
}

.logo-container-footer {
  padding-left: 30px;
  margin-left: auto;
}

.logo-container-footer img {
  padding-left: 20px;
  /* height: 50px; */
}

/* MEDIA QUERIES */

/* PHONES */
@media only screen and (max-device-width: 600px) {
  /* HEADER AND BANNER */
  .links-container {
    display: flex;
    position: absolute;
    top: 10vh;
  }
  .logo-container {
    position: relative;
    display: none;
  }
  .logo {
    position: absolute;
    top: 100%;
    left: 18%;
  }
  .banner {
    height: 90vh;
  }
  .banner h1 {
    left: 5%;
  }
  .parallax-container {
    height: 20vh;
  }
  .main-content {
    height: 150vh;
  }
  /* INTRO */
  .intro-first, .intro-second {
    height: 50vh;
    position: absolute;

    background-color: #ffffff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: right; */
    width: 75vw;
    display: inline-block;
    font-family: "Big Shoulders Display", cursive;
    white-space: normal;
  }
  .intro-first {
    right: -1%;
    top: 6%;
  }
  .intro-first > * {
    text-align: left;
  }
  .intro-first > h3,
  .intro-second > h3 {
    top: 5%;
    left: 30%;
  }
  .intro-second > h3 {
    top: 0;
  }

  .inner-text {
    overflow-wrap: break-word;
  }
  .intro-second {
    height: 50vh;
    position: absolute;
    background-color: #ffffff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: right;
    width: 75vw;
    display: inline-block;
    font-family: "Big Shoulders Display", cursive;
    white-space: normal;
    left: -1%;
    bottom: 20%;
  }
  .intro-first > p,
  .intro-second > p {
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin: 0 auto;
    text-align: left;
    /* padding-left: 40px; */
    font-family: "Big Shoulders Display", cursive;
    color: black;
    width: 30vw;
    white-space: normal;
  }
  .gallery-container-outer {
    right: -0.5%;
  }
  .thumbnail-image-inner {
    width: auto;
    height: 20vh;
    opacity: 1;
    transition: 0.7s ease;
    border-radius: 15px 0px 0px 15px;
  }

  .goals-container {
    position: relative;
  }
  .goals-container > h1,
  .coop-container > h1,
  .contact-container > h1,
  .intro-container > h1 {
    top: -4%;
    left: 3%;
    color: #000000;
  }
  .contact-container > h1 {
    top: -6%;
  }


  .goal > * {
    font-family: "Big Shoulders Display", cursive;
    text-align: center;
  }

  .goal {
    overflow-wrap: break-word;
    padding: 15px;
    width: 70vw;
    margin: 50px;
    height: 42vh;
    background-color: #ffffff;
  }

  .goal > p {
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  .first-goal {
    bottom: 80%;
    left: 5%;
    position: absolute;
  }
  .first-goal > * {
    text-align: right;
  }

  .second-goal {
    position: absolute;
    right: 5%;
    top: 80%;
  }
  .third-goal {
    padding: 40px;
    width: 100vw;
  }
  .second-goal > * {
    text-align: left;
  }

 

  .coop-history {
    overflow-wrap: break-word;
    background-color: #ffffff;
    height: 45vh;
    position: absolute;
    left: -1%;
    top: 10%;
    padding: 15px;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: ;
    width: 70vw;
  }

  .coop-possibilities {
    background-color: #ffffff;
    height: 45vh;
    position: absolute;
    right: -1%;
    top: 45%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
  }

  .coop-logos {
    background-color: #ffffff;
    width: 100vw;
    height: 10vh;
    position: absolute;
    right: -1%;
    bottom: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

 /*  .coop-logos img {
    padding-left: 20px;
  }
 */
  .rimi-logo {
    height: 10vh;
  }

  .kaubamaja-logo {
    padding-right: 20px;
    height: 5vh;
  }
  .video-container {
    height: 100vh;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 80px solid #ffffff;
  }
  .video {
    width: 100vw;
    height: 60vh;
    position: relative;
    overflow: hidden; 
    padding-top: 56.25%; 
  }
  
  .video > iframe {
    position: absolute;
    top: 1%;
    left: 0;
    bottom: 10%;
    width: 100%;
    height: 100%;
    /* border: 2px solid #ffffff; */
  }

  .contact-container {
    height: 100vh;
  }
  
  .info-container {

    right: -1%;
    bottom: -1%;
    padding: 30px;
  }

  
  #map {
    top: -10%;
    border: none;
    height: 40vh;
    width: 100vw;
  }
  
  /* FOOTER */
  
  .footer-container {
    border-top: 80px solid #ffffff;
    background-color: #136b2e;
    width: 100%;

    top: 0;
    /*   position: relative;
   */ /* background-color: rgb(255, 255, 255); */
    transition: background-color ease-out 0.5s;
    margin-top: auto;
    flex-shrink: 0;
  }
  
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 10vh;
  }
  
  .year {
    left: 45%;
  }
  
  .logo-footer {
    width: 100px;
    height: auto;
    cursor: pointer;
    margin-right: auto;
    margin-left: 10px;
    opacity: 1;
    animation-duration: 800ms;
  }
  
  .logo-container-footer {
    padding-left: 0px;
    margin-left: auto;
  }
  
  .logo-container-footer img {
    height: 5vh;
    padding-left: 10px;
    /* height: 50px; */
  }
  .fancybox-inner {
    bottom: 35% !important;
  } 
  .showcase-container {
    flex-direction: column;
    margin-top: 50px;
  }
  
  .showcase {
    position: relative;
    width: 80vw;
    height: 80%;
    box-sizing: border-box;
  }

  .showcase-second {
    margin: 50px 0px;
  }
  .caption {
    position: absolute;
    width: 60vw;
    height: 10vh;
    background-color: #ffffff;
    bottom: -1%;
    left: -1%;
    font-family: "Big Shoulders Display", cursive;
    padding: 5px;
    text-align: right;
    font-size: larger;
  }
}
